.wrapper {
  display: grid;
  grid-template-rows: 200px 60px auto 20px;
  grid-template-columns: 1fr 10fr 2fr;
  grid-template-areas: 
  "header header header"
  "alphabet alphabet alphabet"
  "genres main-content right-bar"
  "footer footer footer";
}